html body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.header{
    grid-column: 2 / 3;
    border: solid 1px red;
}
.sidebar{
    grid-column: 1 / 2;
    border: solid 1px blueviolet

}
.main{
    grid-column: 2 / 3;
    border: solid 1px green

}